/* ::::: Google Font Syntax
font-family: 'Mohave', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/



/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

#task-manager-screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #E2EF95;
}


.task-mgr-header {
    width: 100%;
    align-self: center;
    padding-bottom: 1vh;
    background-color: #f1d7a7;
}


#task-manager__heading {
    color: #374243;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    text-align: center;
}


#task-manager__description {
    color: #374243;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    text-align: center;
}


#task-manager__list {
    min-height: 50vh;
    margin: auto 0;
    padding: 0;
    background-color: #E2EF95;
}


.task-list__item {
    display: inline-block;
    width: 100%;
    padding: 1.75vh 0;
    list-style-type: none;
    background-color: #B2A7F1;
    color: #f5f5f5;
    font-family: 'Mohave', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    border-top: 2px ridge #7460E6;
    border-bottom: 2px outset #7460E6;
}


.task-list__item p {
    display: inline;
}


#add-task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1.75vh 0;
    background-color: #f1d7a7;
    border-top: 2px ridge #E6B760;
}


#add-task-form label {
    padding-right: 1.25vw;
    color: #374243;
    font-family: 'Titillium Web', sans-serif;
}


#edit-field, #addition-field {
    font-family: 'Mohave', sans-serif;
    font-size: 0.85em;
}


#edit-field {
    background-color: #dedaf9;
    color: #374243;
}


#addition-field {
    background-color: #c0ac85;
    color: #f5f5f5;
    font-weight: 600;
}


#task-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
    background-color: #c0ac85;
    border-top: 3px ridge #E6B760;
    border-bottom: 3px ridge #E6B760;
}


.task-dashboard__msg {
    align-self: center;
    color: #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.25em;
    font-weight: 100;
}